@font-face {
	font-family: 'Monaco';
	src: url('monaco.ttf');
}

#wrapper {
	position: relative;
	padding: 0px 15px;
}

#navigation>.panel>.list-group {
	height: 0px;
	overflow: hidden;
	transition: height 500ms;
}

#navigation>.panel:hover>.list-group {
	height: auto;
}

#breadcrumb>.breadcrumb {
	line-height: 23px;
	border: 1px solid #ccc;
}

#content {
	z-index: -1;
	position: absolute;
	width: 100%;
	top: -30px;
	margin-left: -7.5px;
}

.content>div:first-child>.comments, .content>div:first-child>.code{
	padding-top: 93px;
}

.content>div {
	padding-left: 7.5px;
}

.code{
	background: #f5f5ff;
	border-left: 1px solid #e5e5ee;
}

.code pre {
	border: none;
	background: none;
	padding: 0px 15px 16px 25px;
	margin: 0px;
	font-size: 12px;
	font-family: Monaco, Consolas, "Lucida Console", monospace
}

.code code {
	background: none;
}