.navbar-header button {
	height: 40px;
	border: none;
	margin: 0;
}

.jumbotron {
	position: relative;
	padding: 30px;
	margin-top: 40px;
	color: #fff;
	background: #020031;
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%);
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(img/pattern.png) repeat center center;
  opacity: .4;
}

.jumbotron h1 {
	margin: 0px;
	vertical-align: middle;
}

.navbar-brand {
	padding: 0px 0px 0px 15px;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
}

.navbar {
	min-height: 40px;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}