<!DOCTYPE html>
<html>
	<head>
		<title>Boilerplate</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- Scripts -->
		<script src="/js/deps/polyfills"></script>
		<script src="/js/deps"></script>
		<script src="/js/helpers"></script>
		<script src="/js"></script>

		<!-- Styles -->
		<link rel="stylesheet" href="/css/deps">
		<link rel="stylesheet" href="/css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>