<header class="jumbotron">
	<div class="container">
		<h1>Documentation {{#if layout.user}}({{layout.user.name}}){{/if}}</h1>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="list-group col-sm-3">
			{{#each files}}
				<a href="{{name}}" class="list-group-item anim doc {{#if selected}}active{{/if}}">{{name}}</a>
			{{/each}}
		</div>
		<div class="col-sm-9">
			{{#markdown}}
				{{{contents}}}
			{{/markdown}}
		</div>
	</div>
</div>